fastmcp
duckduckgo-search
requests
beautifulsoup4
yfinance
openai
python-dotenv
chainlit
pandas
mcp
langchain
langchain-openai
langchain-community
langchain-core
langchainhub
pyautogen  # For multi-agent optional